### Import Libraries

In [40]:
import pandas as pd

### Get Data From Wikipedia
After getting the data from wikipedia, the columns were consolidated into a single column.

In [41]:
raw_data = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
raw_data = raw_data.unstack().reset_index(drop=True)
raw_data

0                                        M1ANot assigned
1                        M1BScarborough(Malvern / Rouge)
2      M1CScarborough(Rouge Hill / Port Union / Highl...
3      M1EScarborough(Guildwood / Morningside / West ...
4                                 M1GScarborough(Woburn)
                             ...
175    M9VEtobicoke(South Steeles / Silverstone / Hum...
176    M9WEtobicokeNorthwest(Clairville / Humberwood ...
177                                      M9XNot assigned
178                                      M9YNot assigned
179                                      M9ZNot assigned
Length: 180, dtype: object

### Create Dataframe

In [94]:
# create dataframe
column_names = ["PostalCode", "Borough", "Neighborhood"]
df = pd.DataFrame(columns=column_names)

for i, row in raw_data.iteritems():
    postal_code = raw_data[i][:3]
    if "(" not in row:
        borough = raw_data[i][3:]
        neighborhood = ""
    else:
        places = raw_data[i][3:].split('(', 1)
        borough = places[0]
        neighborhood = places[1].replace(')', '').replace(' /', ',')
    df = df.append({'PostalCode': postal_code, 'Borough': borough, 'Neighborhood': neighborhood}, ignore_index=True)

# Remove rows with Not assigned Boroughs
df.drop(df[df['Borough']== 'Not assigned'].index , inplace=True)

df.head()

  PostalCode      Borough                            Neighborhood
1        M1B  Scarborough                          Malvern, Rouge
2        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
3        M1E  Scarborough       Guildwood, Morningside, West Hill
4        M1G  Scarborough                                  Woburn
5        M1H  Scarborough                               Cedarbrae

### Get data shape

In [96]:
df.shape

(103, 3)